<div class="test-component">
    <p>{{_target.label}}</p>
    <p>{{content}}</p>

    <ul>
        {{#each users}}
            <li>
                {{name}}
                {{email}}
            </li>
        {{/each}}
    </ul>
</div>