.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.icon_label {
  display: inline-block;
  vertical-align: middle;
}

.skiplink:active, .skiplink:focus {
  background: #f06e0f;
  color: #fff;
  padding: 1rem 2rem;
  position: absolute !important;
  z-index: 150;
}

/*
Button default
*/
.button {
  display: block;
  background: cyan;
}

.palette_item {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.palette_swatch {
  height: 50px;
}

.palette_label {
  background-color: #efefef;
  padding: 0.5rem;
}

.palette_label__name,
.palette_label__hex {
  display: block;
}

.palette_label__name {
  border-bottom: 1px dashed rgba(68, 68, 68, 0.2);
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
}

.cookie {
  display: block;
}
