.Header {
  color: #333;
  background: #fff;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05), 0 0 40px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05), 0 0 40px 0 rgba(0, 0, 0, 0.05);
}

.Header svg {
  fill: #333;
}

[dir="ltr"] .Header-button {
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
}

[dir="rtl"] .Header-button {
  border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.Frame-panel--sidebar {
  background-color: #333;
  min-width: 300px;
}

.Navigation:before {
  content: '';
  display: block;
  background-image: url("../img/logo.svg");
  background-position: left center;
  background-size: 200px;
  background-repeat: no-repeat;
  width: calc(100% - 35px);
  height: 100px;
  margin: 0 auto;
}

.Navigation a, .Navigation .Tree-collectionLabel {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.Navigation a:hover, .Navigation .Tree-collectionLabel:hover {
  color: #fff;
}

.Tree-title {
  color: gray;
}

.is-closed .Tree-collectionLabel span:before {
  display: none;
}

.is-closed .Tree-collectionLabel span:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.Tree-collectionLabel span:before {
  display: none;
}

.Tree-collectionLabel span:after {
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  color: #fff;
  background-image: url(../img/arrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  position: absolute;
  right: 10px;
  top: 0;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.Pen-handle {
  display: none !important;
}

.Pen-preview {
  height: 100vh !important;
}

.Status-dot {
  position: absolute;
  right: 12px;
  height: 6px;
  width: 6px;
  border: 3px solid transparent;
  background-color: transparent;
}

.Document-title {
  margin: 15px 0;
  font-size: 2em;
  font-weight: 100;
}
