@import 'settings/variables';

$primaryColor: #fff;
$secondaryColor: #333;


.Header {
  color: $secondaryColor;
  background: $primaryColor;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.05), 0 0 40px 0 rgba(0,0,0,.05);

  svg {
    fill: $secondaryColor;
  }
}

[dir="ltr"] .Header-button {
  border-right: 1px solid rgba(0,0,0,0.2) !important;
}

[dir="rtl"] .Header-button {
  border-left: 1px solid rgba(0,0,0,0.2) !important;
}

.Frame-panel--sidebar {
  background-color: $secondaryColor;
  min-width: 300px;
}


.Navigation {

  &:before {
    content: '';
    display: block;
    background-image: url('../img/logo.svg');
    background-position: left center;
    background-size: 200px;
    background-repeat: no-repeat;
    width: calc(100% - 35px);
    height: 100px;  // adjust this value depending on the logo you're using
    margin: 0 auto;
  }

  a, .Tree-collectionLabel {
    color: rgba(255,255,255,.7);
    transition: all 0.3s ease-out;
    border-bottom: 1px solid rgba(255,255,255,.05);

    &:hover {
      color: $primaryColor;
    }
  }
}

.Tree-title {
  color: darken($primaryColor, 50%);
}

.is-closed {

  .Tree-collectionLabel {
    span {
      &:before {
        display: none;
      }
      &:after {
        transform: rotate(0deg);
       }
    }
  }
  
  
}
.Tree-collectionLabel {
  span {
    &:before {
      display: none;
    }
    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 100%;
      color: #fff;
      background-image: url(../img/arrow.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 10px 10px;
      position: absolute;
      right: 10px;
      top: 0;
      transition: transform 0.2s ease-out;
      transform: rotate(90deg);
     }
  }
}

// Customisations to hide the Code Snippets below Preview

.Pen-handle {
  display: none !important; // use only when the panel should be hidden underneath
}

.Pen-preview {
  height: 100vh !important; // use only when the panel should be hidden underneath
}



.Status-dot {
  position: absolute;
  right: 12px;
  height: 6px;
  width: 6px;
  border: 3px solid transparent;
  background-color: transparent;
}

.Document-title {
  margin: 15px 0;
  font-size: 2em;
  font-weight: 100;
}