// $font-nsiface: "nsiface";
// $font-frutiger: "frutiger";

$brand-palette: (
    blue: #0073af,
    deep_blue: #01507a,
    sky_blue: #00a0d7,
    deep_skyblue: #0078a1,
    light_grey: #ededed,
    grey: #717171,
    deep_grey: #575757,
    dark_grey: #414141,
    green: #73a500,
    deep_green: #567c00,
    duckegg: #008c8c,
    deep_duckegg: #006262,
    orange: #f06e0f,
    deep_orange: #d85618,
    yellow: #fab914,
    deep_yellow: #f68c11,
    purple: #502387,
    deep_purple: #301551,
    pink: #b40087,
    deep_pink: #870065,
    forestgreen: #0f6737,
    deep_forestgreen: #00421e,
    burgundy: #ae123d,
    deep_burgundy: #780524,
    red: #ff1515
);
